<% title "Entries" %>

<script>
// This makes the destroy links work remotely, and removes the row that 
// was destroyed.
$(document).ready( function() {
	$('[id^=destroy]')
	  .bind('ajax:complete', function(evt, data, status, xhr){
		console.log(status);
		 $(this).closest('tr').remove();   
	  });
});


</script>

<table>
  <tr>
    <th align="center">PK</th>
    <th align="center">Type</th>
    <th align="center">Content</th>
	<th>&nbsp;</th>
  </tr>
  <% for entry in @entries %>
    <tr>
      <td id='id_<%= entry.id %>' align="center"><%= entry.id %></td>
      <td id='type_<%= entry.id %>' align="center"><%= entry.entry_type %></td>
	  <td id='json_blob_<%= entry.id %>'>
		Title: <%= link_to entry.title, entry %><br/>
		<% if entry.entry_type == "ENDPAGE" %>
			<% if entry.data != "" %>
				Data: <%= truncate(entry.data, :length => 45) %><br/>
			<% end %>
		<% elsif entry.entry_type == "MENU"%>
			<% if entry.items != "" %>
				Items: <%= entry.items %><br/>
			<% end %>
		<% elsif entry.entry_type == "ITEM"%>
			<% if entry.next != 0 %>
				<% @nextEntry = Entry.find(entry.next)%>
				Next: <%= entry.next %><br/>
			<% end %>
		<% else %>
			No available data for this entry
		<%end%>

	  </td>
      <td>
      <%= link_to(image_tag("/images/edit.gif", :border => 0), edit_entry_path(entry), :id => "edit_#{entry.id}") %>
      <%= link_to(image_tag("/images/delete.gif", :border => 0), entry, :confirm => 'Are you sure?', :method => :delete, :remote => true, :id=>"destroy_#{entry.id}" )%></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Entry", new_entry_path, :id=>'new_entry_link' %></p>
