<% title "Entries" %>

<script>
$(document).ready( function() {
	$('[id^=destroy]')
	  .bind('ajax:success', function(evt, data, status, xhr){
		 $(this).closest('tr').remove();   
	  });
});


</script>

<table>
  <tr>
    <th>PK</th>
    <th>Type</th>
    <th>Json Blob</th>
  </tr>
  <% for entry in @entries %>
    <tr>
      <td><%= entry.id %></td>
      <td><%= entry.entry_type %></td>
      <td><%= entry.json_blob %></td>
      <td><%= link_to "Show", entry %></td>
      <td><%= link_to "Edit", edit_entry_path(entry) %></td>
      <td><%= link_to "Destroy", entry, :confirm => 'Are you sure?', :method => :delete, :remote => true, :id=>"destroy_#{entry.id}" %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Entry", new_entry_path %></p>
