<% title "Entry" %>

<p>
  <strong>Entry Type:</strong>
  <%= @entry.entry_type %>
</p>
<p>
	<strong>Title: </strong><%= @entry.title%><br/>
		<% if @entry.entry_type == "ENDPAGE" %>
			<% if @entry.data != "" %>
				<strong>Data: </strong>
				<pre><%= word_wrap(@entry.data) %></pre><br/>
			<% end %>
		<% elsif @entry.entry_type == "MENU"%>
			<strong>Items: </strong>
			<% if @entry.items != [] %>
			<ul>
				<% for item in @entry.items %>
					<% @entryItem = Entry.find(item) %>
					<li> <%= link_to @entryItem.title, @entryItem %></li>
				<%end%>			
			<% else %>
				None
			<% end %>
			</ul>
		<% elsif @entry.entry_type == "ITEM"%>
			<% if @entry.next != 0 %>
				<% @nextEntry = Entry.find(@entry.next)%>
				<strong>Next: </strong>
				<li> <%= link_to @nextEntry.title, @nextEntry %></li>
				<br/>
			<% end %>
		<% else %>
			No available data for this @entry
		<%end%>
</p>


<p>
	<%= link_to "New Entry", new_entry_path, :id=>'new_entry_link' %> |
  <%= link_to "Edit", edit_entry_path(@entry), :id=>'edit_link' %> |
  <%= link_to "Destroy", @entry, :confirm => 'Are you sure?', :method => :delete, :id=>'destroy_link' %> |
  <%= link_to "View All", entries_path, :id=>'index_link' %>
</p>
