<% title "Entry" %>

<p>
  <strong>Entry Type:</strong>
  <%= @entry.entry_type %>
</p>
<p>
	<strong>Content:</strong><br/>
	  <!-- <%= @entry.json_blob %> -->
		Title: <%= @entry.title%><br/>
		<% if @entry.entry_type == "ENDPAGE" %>
			<% if @entry.data != "" %>
				Data: <%= @entry.data %><br/>
			<% end %>
		<% elsif @entry.entry_type == "MENU"%>
			<% if @entry.items != [] %>
				Items: <%= @entry.items %><br/>
			<% else %>
				Items: None
			<% end %>
		<% elsif @entry.entry_type == "ITEM"%>
			<% if @entry.next != 0 %>
				Next: <%= @entry.next %><br/>
			<% end %>
		<% else %>
			No available data for this @entry
		<%end%>
</p>

<p>
  <%= link_to "Edit", edit_entry_path(@entry), :id=>'edit_link' %> |
  <%= link_to "Destroy", @entry, :confirm => 'Are you sure?', :method => :delete, :id=>'destroy_link' %> |
  <%= link_to "View All", entries_path, :id=>'index_link' %>
</p>
