<% title "Entry" %>

<p>
  <strong>Entry Type:</strong>
  <%= @entry.entry_type %>
</p>
<p>
  <strong>Json Blob:</strong>
  <%= @entry.json_blob %>
</p>

<p>
  <%= link_to "Edit", edit_entry_path(@entry), :id=>'edit_link' %> |
  <%= link_to "Destroy", @entry, :confirm => 'Are you sure?', :method => :delete, :id=>'destroy_link' %> |
  <%= link_to "View All", entries_path, :id=>'index_link' %>
</p>
